
.sobreMi{
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 5%, 100% 90%, 0% 100%);
    background-color: $verdeApagado;
    width: 95%;
    margin-top: -2vh; 
}