/* Coolors Exported Palette - coolors.co/003049-d62828-2191fb-f72e2e-2193ff */

/* HSL */
$color1: hsla(201%, 100%, 14%, 1);
$color2: hsla(0%, 69%, 50%, 1);
$color3: hsla(209%, 96%, 56%, 1);
$color4: hsla(0%, 93%, 57%, 1);
$color5: hsla(209%, 100%, 56%, 1);

/* RGB */
$color1: rgba(0, 48, 73, 1);
$color2: rgba(214, 40, 40, 1);
$color3: rgba(33, 145, 251, 1);
$color4: rgba(247, 46, 46, 1);
$color5: rgba(33, 147, 255, 1);