/* RGB */
$grisClaro: #95989A;
$blanco: #FFFFFF;
$azulOscuro: #02387a;
$verdeApagado: #002453;
$backgroundMenu: #0f3464e8;
$backgroundMenuSolido: #1b487d;
$bordeAzul : #091e38;
$negro : black;
$backgroundProyectos: #c9c9c9b7;
