/* RGB */
$grisOscuro: rgba(51, 51, 48, 0.466);
$grisClaro: #95989A;
$blanco: #FFFFFF;
$azulOscuro: #02387a;
$verdeApagado: rgb(15, 52, 100);
$backgroundMenu: rgba(15, 52, 100, 0.911);
$backgroundMenuSolido: #1b487d;
$bordeAzul : rgb(9, 30, 56);
$negro : black;
