/* RGB */
$grisOscuro: rgba(51, 51, 48, 0.466);
$grisClaro: #95989A;
$blanco: #FFFFFF;
$azulOscuro: #0F3057;
$verdeApagado: #0F3057;
$backgroundMenu: rgba(27, 73, 125, 0.89);
$backgroundMenuSolido: #1B487D;
$negro : black;
