%portada {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);
    float: left;
}
@mixin trapecioIzda {
    z-index: 10;
    margin-top: -7vh;
    margin-bottom: -8vh;
    padding-top: 7vh;
    position: relative;
    float: left;
    background-color: $verdeApagado;
    width: 97%;
    height: 110vh;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    @supports (display: grid) {
        width: 100%;
        height: 110%;
        margin-top: 0;
    }
}

@mixin trapecioDcha {    
    float: right;
    z-index: 10;
    position: relative;
    padding-top: 7vh;
    background-color: $blanco;
    color: $azulOscuro;
    width: 97%;
    height: 110vh;
    margin-top: -7vh;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 90%);
    @supports (display: grid) {
        width: 100%;
        height: 110%;
        margin-top: 0;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin hexagono {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 50% 100%, 0 100%, 0% 25%);
}

%contacto {
    width: 100%;
    z-index: 10;
    margin-top: -25vh;
    margin-bottom: -8vh;
    padding-top: 7%;
    padding-bottom: 7vh;
    float: left;
    position: relative;
    background-color: $verdeApagado;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    @supports (display: grid) {
        padding-top: 5rem;
        margin-top: -25vh;
        padding-bottom: 0;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}