@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700|Open+Sans:400,700');


$ff-titulo : 'Arsenal', sans-serif;
$ff-regular : 'Open Sans', sans-serif;

$fw-normal : 400;
$fw-bold : 900;

$fs-portada : 8.25em;
$fs-portada__grande: 1.45em;
$fs-titulos : 3.2em;
$fs-p: 1,125em;

@media (min-width: 575px) {
    html {
        font-size: 20px;
        $fs-titulos : 4.2em;
        $fs-portada : 10.25em;
        $fs-portada__grande: 2.45em;
    } 
}
@media (min-width: 800px) {
    html {
    font-size: 24px;
    }
    $fs-titulos : 5.6em;
    $fs-portada : 12.25em;
    $fs-portada__grande: 4.45em;
}
