@import url('https://fonts.googleapis.com/css?family=Arsenal:400,700|Open+Sans:400,700');


$ff-titulo : 'Arsenal', sans-serif;
$ff-regular : 'Open Sans', sans-serif;

$fw-normal : 400;
$fw-bold : 900;

$fs-portada : 8.25rem;
$fs-titulos : 3.2rem;

