*{
    box-sizing: border-box;
}
body {
    color: $negro;
    font-family: $ff-regular;
    line-height: 1.6;
    color: $blanco;
}
#myVideo {
    position: fixed;
    right: 0;
    z-index: -1;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.main {
    background-color: $grisOscuro;
    @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr 9fr 9fr 1fr;
        grid-template-rows: 90vh 110vh 110vh 110vh 100vh 500px;
        grid-template-areas:
        "portada portada portada portada"
        "sobreMi sobreMi sobreMi ."
        " . habilidades habilidades habilidades"
        "educacion educacion educacion ."
        ". experiencia experiencia experiencia"
        "contacto contacto contacto contacto"
    }
}
.main:after {
    content: '';
    display: block;
    clear: both;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 1em;
}
h1 {
    color: $azulOscuro;
    font-size: 3.375em;
    font-weight: $fw-bold;
    line-height: 1;
    font-family: $ff-titulo;
}
h2 {
    margin-top: 5%;
    font-family: $ff-titulo;
    font-size:  3.2em;
    font-weight: $fw-normal;
}

 ul {
     list-style-type: none;
 }
 @media (min-width: 800px) {
    body {
        font-size: 20px;
        .main {
            grid-template-columns: 1fr 360px 360px 1fr;
        }
    }
}