*{
    box-sizing: border-box;
}
body {
    color: $negro;
    font-family: $ff-regular;
    line-height: 1.6;
    color: $blanco;
    height: 100%;
    width: 100%;
}
#myVideo {
    position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.main {
    position: relative;
    @supports (display: grid) {
        display: grid;
        margin-left: 0;
        height: 100%;
        padding-left: 0;
        grid-template-columns: 1fr 10fr 10fr 1fr;
        grid-template-rows: 100vh 680px 680px 680px 680px auto;
        grid-template-areas:
        "portada portada portada portada"
        "sobreMi sobreMi sobreMi ."
        " . habilidades habilidades habilidades"
        "educacion educacion educacion ."
        ". experiencia experiencia experiencia"
        "contacto contacto contacto contacto";
    }
}
.main:after {
    content: '';
    display: block;
    clear: both;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 1em;
}
h1 {
    color: $azulOscuro;
    font-size: 3.375em;
    font-weight: $fw-bold;
    line-height: 1;
    font-family: $ff-titulo;
}
h2 {
    margin-top: 0.1em;
    font-family: $ff-titulo;
    font-size:  3.2em;
    font-weight: $fw-normal;
}

 ul {
     list-style-type: none;
 }
 .clearfix {
    content: '';
    display: block;
    clear: both;
 }
 //Clase para evitar el scroll en moviles mirar navbar.js
 .noscroll { 
    margin: 0;
    height: 100%;
    overflow: hidden;
}