.contacto {
    @extend %contacto;
    text-align: center;
    @supports (display: grid) {
        grid-area: contacto;
    }
    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: column;
        justify-content: space-between;
        label {
            text-align: left;
            width: 90%;
            input {
                width:100%;
                margin: 2vh 0;
            }
            textarea {
                width: 100%;
                margin: 3vh 0;
            }
        }
        button {
            margin: 1.6rem 0;
            background-color: #00800D;
            border: none;
            color: $blanco;
            font-size: 1.5em;
            padding: 0.3em 0.5em;
        }
        @supports (display: grid) {
        @media (min-width: 700px) {
                display: grid;
                grid-template-areas: 
                "nombre email"
                "texto texto"
                " . enviar";
                grid-template-columns: 45% 45%;
                grid-column-gap: 50px;
                margin: 20px;
                label {
                    width: 100%;
                }
                .nombre {
                    grid-area: nombre;
                }
                .email {
                    grid-area: email;
                }
                .mensaje {
                    grid-area: texto;
                }
                button {
                    grid-area: enviar;
                }
        }
        }
    }
}