.contacto {
    @extend %contacto;
    text-align: center;
    @supports (display: grid) {
        grid-area: contacto;
    }
    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: column;
        margin-top: -5vh;
        justify-content: space-between;
        label {
            text-align: left;
            width: 90%;
            input {
                width:100%;
            }
            textarea {
                width: 100%;
            }
        }
        button {
            margin-top: 20px;
            background-color: #00800D;
            border: none;
            color: $blanco;
            font-size: 1.5em;
            padding: 0.3em 0.5em;
        }
    }
}