.educacion {
    @include trapecioIzda;
    position: relative;
    @supports (display : grid) {
        grid-area: educacion;
    }
    h2 {
        margin-bottom: 2vh;
        margin-left: 8%;
    }
    ul {
        margin-top: 0;
        margin-left:9%;
        margin-right:6%;
        padding-left:0; 
        li{
            font-size: 0.9rem;
            margin:  2.4em 0;
        }
    }
}