.experiencia {
    @include trapecioDcha;
    @supports (display : grid) {
        grid-area: experiencia;
    }
    text-align: right;
    padding-top: 12vh;
    h2 {
        padding-right: 8%;
    }
    ul {
        padding-right: 8%; 
        padding-left: 8%; 

    }
}