.experiencia {
    @include trapecioDcha;
    z-index: 10;
    @supports (display : grid) {
        grid-area: experiencia;
    }
    text-align: right;
    padding-top: 12vh;
    h2 {
        padding-right: 8%;
    }
    ul {
        padding-right: 8%; 
        padding-left: 8%; 

    }
    li{
        font-size: 0.9rem;
        margin:  2.4em 0;
    }
}