footer {
    @include pentagono;
    padding-top: 60px;
    text-align: center;
    position: relative;
    overflow: hidden;
    bottom: 0;
    margin-top: 0;
    background-color: #0000005d;
    padding-bottom: 30px;
    @supports (display : grid) {
    }
    .mensajeResponsive {
        width: 96%;
        font-weight: $fw-bold;
    }
    .iconosRedes {
        display: flex;
        width: 100%;
        align-content: center;
        align-items: center;
        justify-content: center;
        img {
            width: 56px;
            height: 56px;
        }
        .linkedin {
            width: 62px;
            height: 62px;
            margin-right: 25px;
        }
    }
    .copyright {
        font-size: 0.5em;
        margin-bottom: 0;
    }
}