.habilidades {
    @extend %trapecioDcha;
    text-align: right;
    @supports (display : grid) {
        grid-area: habilidades;
    }
    h2 {
        font-size: $fs-titulos;
        padding-left: 10%;
        padding-right: 10%;
    }
    .selector {
        background-color: $azulOscuro;
        width: 85%;
        height: 100px;
        margin: 0 auto;
        color: $blanco;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: space-around;
        
        .huecoIconos {
            height: 82px;
            width: 82px;
            border-radius: 50%;
            background: gray;
        }
        p {
            text-align: right;
            width: 70%;
            float: right;
            height: 50px;
            font-size: 1rem;
        }
        .medidorHabilidad {
            width: 160px;
            display: none;
            float: right;
            margin-right: 5%;
            height: 10px;
            background-color: $blanco;
        }
    }

    .grid-iconos {
        width: 90%;
        background-color: $blanco;
        height: 250px;
        margin: 7% auto 0 auto;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        img {
            height: 82px;
            width: 82px;
        }
    }
}