.habilidades {
    @include trapecioDcha;
    text-align: right;
    @supports (display : grid) {
        grid-area: habilidades;
    }
    h2 {
        font-size: $fs-titulos;
        padding-left: 10%;
        padding-right: 10%;
    }
    .selector {
        background-color: $azulOscuro;
        width: 90%;
        margin: 0 auto;
        color: $blanco;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: flex-start;
        
        .huecoIconos {
            height: 82px;
            width: 82px;
            margin: 1em 0;
            border-radius: 50%;
            background: gray;
        }
        p {
            text-align: right;
            width: 70%;
            height: 50px;
            font-size: 1em;
        }
    }
    .medidorHabilidad {
        width: 90%;
        display: block;
        margin: 0 auto;
        background-color: $azulOscuro;
        padding-bottom: 5px;
        .nivel {
            background-color: $blanco;
            margin: 0 auto;
            width: 95%;
            height: 16px;
            border: 2px solid $azulOscuro;
            .seccion {
                width: 20%;
                height: 100%;
                border: 2px solid $blanco;
                background-color: green;
            }
        }
    }

    .grid-iconos {
        width: 90%;
        height: 280px;
        margin: 5vh auto 0 auto;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        justify-content: space-evenly;
        img {
            height: 82px;
            width: 82px;
        }

    }
}