nav {
    background: $blanco;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    align-content: center;
    height: 50px;
    width: 100%;
    flex: wrap;
    z-index: 1000;
    align-items: center;
    box-shadow: 0 0 5px grey;
    h1 {
        font-weight: $ff-regular;
        font-size: 1.3rem;
        display: block;
        width: 90vw;
        margin-bottom: 0;
    }
    ul {
        display:table-row;
        position: fixed;
        height: 100vh;
        top: 0px;
        width: 100%;
        left: -101vw;
        margin: 50px 0;
        padding: 10% 0;
        text-align: center;
        font-size: 2.5em;
        background-color: $backgroundMenu;
        li {
            height: 18%;
            display: flex;
            align-items: center;
            align-content: center;
            a {
                line-height: 1em;
                margin: 0 auto;
                text-decoration: none;
                color: $blanco;
                font-weight: $fw-bold;
            }
        }
    }
    @import 'animacionMenu';
    .tcon-transform+ul {
        left: 0;        
    }
}
