nav {
    background: $blanco;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    align-content: center;
    height: 50px;
    width: 100%;
    flex: wrap;
    z-index: 1000;
    align-items: center;
    box-shadow: 0 0 5px grey;
    h1 {
        font-weight: $ff-regular;
        font-size: 1.3rem;
        display: block;
        margin-bottom: 0;
        width: 90vw;
    }
    .menuDropdown {
        position: fixed;
        top: 0px;
        bottom: 0;
        width: 100%;
        z-index: 999;
        left: -110vw;
        display: flex;
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 0;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        font-size: 2.5em;
        background-color: $backgroundMenu;
        @keyframes zoomIn {
            from {
              opacity: 0;
              -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
            }
          
            50% {
              opacity: 1;
            }
          }
          
          @-webkit-keyframes zoomIn {
            from {
              opacity: 0;
              -webkit-transform: scale3d(0.3, 0.3, 0.3);
              transform: scale3d(0.3, 0.3, 0.3);
            }
          
            50% {
              opacity: 1;
            }
          }
        li {
            cursor: pointer;
            display: block;
            position: relative;
            &:after {
                content: "";
                width: 0%;
                bottom: -10%;
                height: 3px;
                background-color: $blanco;
                left: 20%;
                
            }
        }
        li:hover::after {
            width: 60%;
            position: absolute;
            -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
            animation-duration: 0.250s;
            animation-timing-function: ease-out;
        }
    }
    @import 'animacionMenu';
    .tcon-transform+ul {
        left: 0;
        margin-left: 0;
        padding-left: 0;        
    }
}
