.portada{
    @extend %portada;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    margin-top: 10vh;
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 20;
    @supports (display : grid) {
        grid-area: portada;
    }
    h1 {
        color: $blanco;
        span {
            display: block;
            font-size: $fs-portada__grande;
            line-height: 1.7em;
        }
    }
}
