
.sobreMi{
    @include trapecioIzda;
    @supports (display : grid) {
        grid-area: sobreMi;
    }
    position: relative;
    h2 {
        margin-left: 10%;
        margin-bottom: 0.8em;
        font-size: $fs-titulos;
    }
    img {
        margin-left: 15%;
    }
    p {
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 3em;
        line-height: 2.3em;
        font-size: $fs-p;
    }
}