
.sobreMi{
    @extend %trapecioIzda;
    @supports (display : grid) {
        grid-area: sobreMi;
    }
    position: relative;
    h2 {
        margin-left: 10%;
        margin-bottom: 5vh;
        font-size: $fs-titulos;
    }
    img {
        margin-left: 15%;
    }
    p {
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 5vh;
        line-height: 6vh;
        font-size: $fs-p;
    }
}