
.sobreMi{
    @extend %trapecioIzda;
    position: relative;
    margin-top: -10vh;
    
    h2 {
        margin-left: 10%;
        margin-bottom: 5vh;
        font-size: $fs-titulos;
    }
    img {
        margin-left: 15%;
    }
    p {
        margin-left: 10%;
        margin-right: 10%;
        line-height: 2.3rem;
        font-size: 1,125rem;
    }
}